* {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 300px;
    position: realtive;
    margin: 0 auto;
    background-color: #fff;
    font-family: Arial;
  }
  
  table {
    width: 500px;
    height: 500px;
    background-color: seagreen;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.3);
  }
  
  #scoreBoard {
    margin-top: 50px;
    width: 500px;
    background-color: rgb(96, 204, 143);;
    padding: 10px 0;
    text-align: center;
    color: rgb(61, 56, 56);
  }
  
  #play {
    margin-top: 20px;
    color: #333;
    background-color: #4ade1c;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
  }
  
  #play:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
  }
  
  td {
    border-radius: 40%;
  }
  
  td.snakeCell {
    background: firebrick;
  }
  
  td.snakeHead {
    background: sienna;
  }
  
  td.fruitCell {
    background: crimson;
  }
  
  .gameOver {
    width: 200px;
    margin-left: -100px;
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    color: #d61717;
    text-align: center;

  }